.section.tertiary {
  padding: 64px 0px;
  flex-grow: 1;

  h2 {
    margin-bottom: 1rem;
    color: $primary-color-500;
  }

  &.align-center {
    @include flex-align-center;
  }
}
@include md {
  .section.tertiary {
    padding: 32px 0px;
  }
}
