<header class="header">
  <div class="container">
    <div class="left">
      <a class="logo" href="/">LOGO</a>
    </div>
    <div class="right">
      <nav>
        <a class="link" href="/">About</a>
        <a class="link" href="/">Contact</a>
        {% if user.is_authenticated %}
        <a class="link" href="/profile">Hi, {{user.username}}!</a>
        {% else %}
        <a class="gn-button sc-button" href="/signin">Sign in</a>
        <a class="gn-button pm-button" href="/signup">Sign up</a>
        {% endif %}
      </nav>
      <button @click="openModal('menu')" class="menu-button">Open menu</button>
    </div>
  </div>
</header>
