{% load custom_tags %}

<section class="section tertiary">
  <div class="container md:container">
    <h2>Seus Pedidos</h2>
    <br />
    {% if orders %} {% for order in orders %}
    <div class="order-item">
      <div>
        <a href="{% url 'product' id=order.product.id %}">
          <img src="{{order.get_image}}" alt="{{order.product.name}}" />
        </a>
      </div>
      <div>
        <h3>
          <a href="{% url 'product' id=order.product.id %}">
            {{order.product.name}}
          </a>
        </h3>
        <p>ID do produto: {{order.id}}</p>
        <p>{{order.date}}</p>
        <p>Estado do Pagamento: {{order.payment_status|payment_status}}</p>

        {% if order.discount > 0 %}
        <p>Preço: R$ {{order.unit_price|cents_price}}</p>
        <p>Disconto: {{order.discount}}</p>
        <p>
          <strong
            >Total: R$ {% total_price order.unit_price order.discount %}</strong
          >
        </p>
        {% else %}
        <p>
          <strong>Total: R$ {{order.unit_price|cents_price}} </strong>
        </p>
        {% endif %}
      </div>
    </div>
    {% endfor %} {% else %}
    <p>Não há pedidos na sua conta!</p>
    {% endif %}
  </div>
</section>
