{% load static%} {% load custom_tags %}
<section>
  <div class="container md:container">
    <div class="product">
      <figure class="main-image">
        <img src="{% static "img/placeholder-1.svg" %}" alt="{{product.name}}"
        />
      </figure>
      <aside class="main-infos">
        <article>
          <header>
            <h2>{{product.name}}</h2>
          </header>
          <section>
            <ul>
              <li>
                <strong>Description:</strong>
                <span> {{product.description}} </span>
              </li>
            </ul>
          </section>
          <footer>
            <li>
              <strong>Price:</strong>
              <span>R$ {{product.price|cents_price}}</span>
            </li>
          </footer>
        </article>
        {% if product.stripe_price_id %}
        <form action="{% url 'product' id=product.id %}" method="POST">
          {% csrf_token %}
          <button class="gn-button pm-button full">Checkout</button>
        </form>
        {% endif %}
      </aside>
    </div>
  </div>
</section>
