{% load custom_tags %}
<section>
  <div class="container md:container">
    <div class="product">
      <figure class="main-image">
        <img src="{{product.get_image}}" alt="{{product.name}}" />
      </figure>
      <aside class="main-infos">
        <article>
          <header>
            <h2>{{product.name}}</h2>
          </header>
          <section>
            <ul>
              <li>
                <strong>Descrição:</strong>
                <span> {{product.description}} </span>
              </li>

              {% if product.discount > 0 %}
              <li>
                <strong>Preço:</strong>
                <span> R$ {{product.price|cents_price}}</span>
              </li>
              <li>
                <strong>Disconto:</strong>
                <span> -{{product.discount|percent}}% </span>
              </li>
              {% endif %}
            </ul>
          </section>
          <footer>
            <li>
              <strong>Total:</strong>
              <span>R$ {% total_price product.price product.discount %}</span>
            </li>
          </footer>
        </article>
        {% if product.stripe_price_id %}
        <form action="{% url 'product' id=product.id %}" method="POST">
          {% csrf_token %}
          <button class="gn-button pm-button full">Comprar</button>
        </form>
        {% endif %}
      </aside>
    </div>
  </div>
</section>
