<section>
  <div class="container">
    <div class="form-container">
      <form action="/signup/" method="post" class="form">
        {% csrf_token %}

        <div class="row">
          <h2 class="form-title">Sign up</h2>
        </div>

        <div class="row">
          <input
            v-model="fields.username"
            id="username"
            name="username"
            type="text"
            class="input filled"
            :class="active('username')"
            value="{{form.username.value}}"
          />
          <label for="username" class="label">Username</label>
          {% if form.errors.username %}
          <p class="helper-text error">{{form.errors.username.as_text}}</p>
          {% endif %}
        </div>

        <div class="row">
          <input
            v-model="fields.email"
            id="email"
            name="email"
            type="text"
            class="input filled"
            :class="active('email')"
            value="{{form.email.value}}"
          />
          <label for="email" class="label">E-mail</label>
          {% if form.errors.email %}
          <p class="helper-text error">{{form.errors.email.as_text}}</p>
          {% endif %}
        </div>

        <div class="row">
          <div class="input-container">
            <input
              v-model="fields.password"
              id="password"
              name="password"
              class="input filled"
              :class="active('password')"
              :type="passwords.main ? 'text' : 'password'"
              value="{{form.password.value}}"
            />
            <label for="password" class="label">Password</label>
            <div class="right-element">
              <button
                type="button"
                class="gn-button sc-button"
                @click="togglePassword('main')"
                v-text="passwords.main ? 'Hide' : 'Show'"
              ></button>
            </div>
          </div>
          {% if form.errors.password %}
          <p class="helper-text error">{{form.errors.password.as_text}}</p>
          {% endif %}
        </div>

        <div class="row">
          <div class="input-container">
            <input
              v-model="fields.confirm_password"
              id="confirm_password"
              name="confirm_password"
              class="input filled"
              :class="active('confirm_password')"
              :type="passwords.confirm ? 'text' : 'password'"
            />
            <label for="confirm_password" class="label">Confirm Password</label>
            <div class="right-element">
              <button
                type="button"
                class="gn-button sc-button"
                @click="togglePassword('confirm')"
                v-text="passwords.confirm ? 'Hide' : 'Show'"
              ></button>
            </div>
          </div>
          {% if form.errors.confirm_password %}
          <p class="helper-text error">
            {{form.errors.confirm_password.as_text}}
          </p>
          {% endif %}
        </div>

        <div class="row">
          <button class="gn-button pm-button full">Create account</button>
        </div>
      </form>
    </div>
  </div>
</section>
