<section class="section tertiary align-center">
  <div class="container">
    <div class="success-container">
      <div class="title-subtitle secondary">
        <h2 class="title">Compra efetuada!</h2>
        <p class="subtitle">
          Seu pagamento foi efetuado por sucesso. <br />
          Por favor, confira seu e-mail para obter seu e-book.
        </p>
        <a href="{% url 'home' %}" class="gn-button sc-button center"
          >Página inicial</a
        >
      </div>
    </div>
  </div>
</section>
