.primary-banner {
  background-color: $neutral-color-100;
  border-bottom: 1px solid $neutral-color-200;

  .container {
    @include flex-align-center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: calc(100vh - 64px);
  }

  h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: $primary-color-500;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;
    color: $primary-color-500;
    margin-bottom: 1.5rem;
  }
  img {
    width: 100%;
  }
}
@include md {
  .primary-banner {
    text-align: center;

    .g-row {
      flex-direction: column-reverse;
    }

    h2 {
      font-weight: 500;
      font-size: 2rem;
    }
    .gn-button {
      width: 100%;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }
  }
}
