<header class="header">
  <div class="container lg:container">
    <div class="left">
      <a class="logo" href="{% url 'home' %}">MusicEbooks</a>
    </div>
    <div class="right">
      <nav>
        <a class="link" href="{% url 'contact' %}">Contato</a>
        <a class="link" href="{% url 'products' %}">Produtos</a>
        {% if user.is_authenticated %}
        <a class="link" href="{% url 'account' %}">Conta</a>
        <button class="link" @click="openLogout">Sair</button>
        {% else %}
        <a class="gn-button sc-button" href="{% url 'signin' %}{{next_page}}"
          >Login</a
        >
        <a class="gn-button pm-button" href="{% url 'signup' %}{{next_page}}"
          >Cadastrar</a
        >
        {% endif %}
      </nav>
      <button @click="openModal('menu')" class="menu-button">Abrir menu</button>
    </div>
  </div>
</header>
