{% extends './base.html' %}

{% block title %}
  Home Page
{% endblock %}

{% block scss %}
{% load static %}
<link type="text/x-scss" href="{% static 'scss/page/main.scss' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
  {% include 'components/banner/primary.html' %}
  {% for product in products %}
    {% if not forloop.counter|divisibleby:2 %}
      {% include 'components/section/primary.html' %}
    {% else %}
      {% include 'components/section/secondary.html' %}
    {% endif %}
  {% endfor %}
{% endblock %}
