<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>
<body>
    <div class="app" id="app">
        {% include "components/header/primary.html" %}
        {% include "components/menu.html" %}
        
        <h1>Test Page</h1>

        {% include "components/footer.html" %}
        {% include "components/modals/logout.html" %}
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</body>
</html>

