{% load custom_tags %}
<section class="section">
  <div class="container md:container">
    <div class="g-root g-gap-4 sm:g-gap-8">
      <div class="g-row">
        <div class="g-item-12 md:g-item-6">
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
          {% include "../price.html" with price=product.price discount=product.discount %}
          <a class="gn-button sc-button" href="{% url 'product' product.id %}"
            >See more</a
          >
        </div>
        <div class="g-item-12 md:g-item-6 g-center-item">
          <img src="{{ product.image.url }}" alt="{{product.name}}" />
        </div>
      </div>
    </div>
  </div>
</section>
