.menu {
  position: fixed;
  top: 0px;
  z-index: 9;
  right: -320px;
  padding: 2rem;
  @include max-width(320px);
  height: 100vh;
  background-color: $neutral-color-100;
  box-shadow: $primary-box-shadow;
  transition: right $primary-transition;

  .menu-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 0px;
    @include reset-button;
    @include square(20px);
    @include background-image(pathImages("close.svg"));
  }

  nav {
    .link {
      display: block;
      width: fit-content;
      color: $primary-color-500;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .buttons {
      @include flex-align-center;
      gap: 0.5rem;
    }
  }

  &.active {
    right: 0;
  }
}
