{% load static %}
<section class="primary-banner">
  <div class="container lg:container">
    <div class="g-root g-gap-4 md:g-gap-8">
      <div class="g-row">
        <div class="g-item-12 md:g-item-6 lg:g-item-5 g-center-item">
          <div>
            <h2>Materiais de estudo para músicos</h2>
            <p>
              Aqui oferecemos para você e-books autorais sobre teoria musical,
              listas de acordes, repertórios de músicas e exercíos para o seu
              instrumento. Compre nossos materiais e evolua ainda mais!
            </p>
          </div>
        </div>
        <div class="g-item-12 md:g-item-6 lg:g-item-7 g-center-item">
          <img src="{% static "img/site.svg" %}"
          alt="https://storyset.com/illustration/personal-site/amico#486284FF&hide=&hide=complete"/>
        </div>
      </div>
    </div>
  </div>
</section>
